<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hellotest">

    <uses-permission android:name="android.permission.INTERNET" />

    <application xmlns:tools="http://schemas.android.com/tools"
        android:name=".utils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="洛理食堂"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="label">
        <receiver
            android:name=".utils.MyReceiver"
            android:enabled="true"
            android:exported="true"></receiver>

        <activity android:name=".order.RatingActivity" />

        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".me.OrderLikeActivity" />
        <activity android:name=".home.FoodDetailActivity" />
        <activity android:name=".home.CanteenDetailActivity" />
        <activity android:name=".me.ModifyPwdActivity" />
        <activity android:name=".boot.BootActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name=".Register" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>